.listContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-around;
}
.listContainer_card{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}

.listContainer ul{
    list-style: none;
}

.listContainer ul li{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.listContainer img{
    height:150px;
}