:root {
  --color-primary: rgb(147, 101, 255);
  --color-secondary: rgb(255, 103, 117);
  --color-tertiary: rgb(255, 237, 105);
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(48, 36, 61);
  width: 100%;
  height: 5rem;
}
.navbar__brand {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  padding: 1rem;
}

.navbar .navbar__submenu{
  display: none;
  text-transform: uppercase;
  color:white;
  position: absolute;
  top: 7%;
  border: 1px solid white;
  border-radius: 0.5rem;
  background: rgb(42, 42, 42);
}

nav ul:hover > .navbar__submenu{
  display: block;
  cursor: pointer;
}


.navbar__submenu li{
  display:flex;
  justify-content: left;
  align-items: center;
}

.link{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  display: flex;
}

.link:hover{
  cursor: pointer;
  color: var(--color-secondary);
}

.sublink{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  justify-content: left;
}

.sublink p{
  padding-left: 1rem;
}

.sublink:hover p{
  color:var(--color-secondary);
  transform: translateX(20%);
  animation: left-to-right ease-out 0.5s forwards;
}

@keyframes left-to-right{
  100%{
    transform: translateX(0%);
  }
}

.link-active{
  color:var(--color-primary);
}

@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
  .navbar__brand {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .navbar {
    display: block;
    place-items: center;
    height: auto;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }
}
